@{
    ViewData["isAdminView"] = true;
    ViewData["title"] = "infrastructure";
}
<div class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="text-danger">Sie sind für den gewünschten Zugriff nicht autorisiert!</h1>
    <a asp-action="index" asp-controller="Home" style="text-decoration: underline;">Zur Startseite</a>
</div>