@{
    ViewData["isAdminView"] = false;
    ViewData["title"] = "User";
}
<section>
    <div class="d-flex justify-content-center">
        <h1 class="text-danger">
            Der Verifizierungstoken ist abgelaufen bzw. nicht korrekt, oder die Email ist schon vorhanden bzw. falsch.
        </h1>
    </div>
</section>