
@media (min-width: 441px) {
    .chargestation {
        margin-left: 100px;
    }
}

@media (max-width: 440px) {
    .chargestation {
        margin-left: 15px;
    }
}

.card-header .btn-danger {
    width: 150px;
}

.chargestation .btn-danger {
    width: 100px;
}
